<div class="left">
     <div><a href="/choix/" class="btn1">Accueil</a></div>
     <div><a href="/magasin/" class="btn1">Magasin</a></div>
     <div><a href="/produits/" class="btn1">Produit</a></div>
     <div><a href="/vente/" class="btn1">Vente</a></div>
     <div><a href="/produits_vente/" class="btn1">List Vente</a></div>
     <div>Stock</div>

     <form action="{{ url_for('logout') }}" method="post">

          <div class="div-dec">
               <button type="submit" class="dec">Déconnexion</button>
          </div>


     </form>



     <!-- <div><a href=" {{url_for('logout')}}" class="btn1">Déconnexion</a>
     </div> -->
</div>