<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/zoro_style.css">
    </link>
    {% if title %}
    <title>Zoro - {{title}} </title>
    {% else %}
    <title>Zoro</title>
    {% endif %}

</head>

<body>
    <section class="second">
        {% include './base_html/header.html' %}

        <div class="new_grey">
            {% include './base_html/side_bar.html' %}

            {% block centre %}
            {% endblock %}

        </div>

    </section>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>

</html>