{% extends "base.html" %}
{% block centre %}

<div class="droite">

    <a href="/new_magasin/" class="btn6" style="text-decoration: none; border: none;">
        <button>Ajouter</button>
    </a>

    <p><strong>Liste des magasins <br></strong></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li id="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="tableau tableau-container">
        <table>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Action</th>
            </tr>

            {% for magasin in magasins %}
            <tr>
                <td class="impair">{{magasin[0]}}</td>
                <td class="impair">{{magasin[1]}}</td>
                <td class="impair">{{magasin[2]}}</td>
                <td class="impair">{{magasin[3]}}</td>
                <td class="impair">{{magasin[4]}}</td>
                <td class="impair">
                    <a href="/modifier_mag/{{magasin[0]}}" class="mod_btn"
                        style="text-decoration: none; border: none;">Modifier</a>
                    <a href="/supp_mag/{{magasin[0]}}" class="supp_btn"
                        style="text-decoration: none; border: none;">Suprimer</a>
                </td>
            </tr>
            {% endfor %}



        </table>


    </div>

</div>
{% endblock %}