{% extends "base.html" %}
{% block centre %}

<div class="droite">

    <a href="/add_prod/" class="btn6" style="text-decoration: none; border: none;">
        <button>Ajouter</button>
    </a>

    <p><strong>Liste des produits <br></strong></p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li id="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="tableau tableau-container">
        <table>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>

            {% for produit in produits %}
            <tr>
                <td class="impair">{{produit[0]}}</td>
                <td class="impair">{{produit[1]}}</td>
                <td class="impair">{{produit[2]}}</td>
                <td class="impair">{{produit[3]}}</td>
                <td class="impair">
                    <a href="/edit_prod/{{produit[0]}}" class="mod_btn"
                        style="text-decoration: none; border: none;">Modifier</a>
                    <a href="/supp_prod/{{produit[0]}}" class="supp_btn"
                        style="text-decoration: none; border: none;">Suprimer</a>
                </td>
            </tr>
            {% endfor %}




        </table>


    </div>

</div>
{% endblock %}