{% extends "base.html" %}
{% block centre %}

<div class="droite">

    <a href="/vente/" class="btn6" style="text-decoration: none; border: none;">
        <button>Ajouter</button>
    </a>

    <p><strong>Liste des produits vendus <br></strong></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li id="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="tableau tableau-container">
        <table>
            <tr>
                <th>Name</th>
                <th>ID Produit</th>
                <th>Montant total</th>
                <th>Quantité</th>
                <th>ID Vente</th>

                <th>Action</th>
            </tr>


            {% for name, id_produit, montant_total, quantite_produit, id_vente in results %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ id_produit }}</td>
                <td>{{ montant_total }}</td>
                <td>{{ quantite_produit }}</td>
                <td>{{ id_vente }}</td>


                <td class="impair">
                    <a href="/modifier_vente/{{id_vente}}" class="mod_btn"
                        style="text-decoration: none; border: none;">Modifier</a>
                    <a href="/supprimer_vente/{{id_vente}}" class="supp_btn"
                        style="text-decoration: none; border: none;">Suprimer</a>
                </td>
            </tr>
            {% endfor %}



        </table>


    </div>

</div>
{% endblock %}