<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/zoro_style.css">
    </link>
    <title>ZORO MAQUETTE</title>
</head>

<body>

    <section class="first">
        <header>Zoro</header>

        <div class="grey">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form action="{{url_for('register')}}" class="sign_in" method="POST">
                Inscrivez-vous

                {{ form.hidden_tag() }}:

                {{ form.username(size=20, class="btn1", placeholder="Identifiant") }}

                {{ form.password(size=20,class="btn2", placeholder="Mot de passe") }}



                <!-- <input class="btn1" placeholder="Identifiant" name="username"> -->
                <!-- <input class="btn2" placeholder="Mot de passe" name="password"> -->
                <div class="btna">
                    {{ form.submit(class="btn3", style="text-decoration: none; border: none;") }}
                    <!-- <button type="submit" class="btn3" style="text-decoration: none; border: none;">Login</button> -->
                    <!-- <a href="/choix/" class="btn3" style="text-decoration: none; border: none;">Connexion</a> -->
                </div>
                <!-- <input class="btn1" placeholder="Identifiant" name="username"> -->
                <!-- <input class="btn2" placeholder="Mot de passe" name="password"> -->
                <!-- <div class="btna">
                    <button type="submit" class="btn3" style="text-decoration: none; border: none;">Inscription</button>
                    <a href="/choix/" class="btn3" style="text-decoration: none; border: none;">Inscription</a>
                </div> -->
                <a href="{{url_for('login')}}">si avez un compte connectez-vous</a>
            </form>
        </div>


    </section>

    <!-- une fois le header fait, supp la barre bleue  -->


</body>

</html>