{% extends "base.html" %}
{% block centre %}

<div class="right">
    <div class="msg_supp">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>

    <div class="btn" style="text-decoration: none; border: none;">
        <button class="btn5"><a href="/supp_def/{{id_mag.id}}" target="blank">Confirmer</a></button>
        <button class="btn4"><a href="/magasin/" target="_blank">Retour</a></button>
    </div>

</div>

{% endblock %}