{% extends "base.html" %}
{% block centre %}

<div class="right">
    <div class="msg_supp">
        <p>Vous êtes sur le point de supprimer le magasin n°{{magasin[0]}}. Etes-vous <br>
            sûr de vouloir continuer?</p>
    </div>

    <div class="btn" style="text-decoration: none; border: none;">
        <button class="btn5"><a href="/supp_def_mag/{{magasin[0]}}" target="blank">Confirmer</a></button>
        <button class="btn4"><a href="/magasin/" target="_blank">Retour</a></button>
    </div>

</div>

{% endblock %}