{% extends "base.html" %}
{% block centre %}

<div class="right">
    <div class="msg_supp">
        <p>Vous êtes sur le point de supprimer le produit n°{{id_prod.id_produit}}. Etes-vous <br>
            sûr de vouloir continuer?</p>
    </div>

    <div class="btn" style="text-decoration: none; border: none;">
        <button class="btn5"><a href="/supp_def_prod/{{id_prod.id_produit}}">Confirmer</a></button>
        <button class="btn4"><a href="/produits/">Retour</a></button>
    </div>
</div>

{% endblock %}