<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/zoro_style.css">
    </link>
    <title>ZORO MAQUETTE</title>
</head>

<body>

    <section class="first">
        <header>Zoro</header>

        <div class="grey">
            <form action="" class="sign_in">
                Connectez-vous
                <input class="btn1" placeholder="Identifiant">
                <input class="btn2" placeholder="Mot de passe">
                <div class="btna">
                    <a href="/choix/" class="btn3" style="text-decoration: none; border: none;">Connexion</a>
                </div>
                <a href="#">si pas de compte inscrivez-vous</a>
            </form>
        </div>


    </section>

    <!-- une fois le header fait, supp la barre bleue  -->


</body>

</html>